.projects{
    background-color: #B3C2F2;

    .container{
        
        h1{
            text-align: center;
        }

    }

    .grid{
        display: grid;
    }
    .git{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
      .grid{
        height: 75%;
      }
}
