.projects{
    background-color: #fefae0;

    .container{
        
        h1{
            text-align: center;
        }

    }
}

@media screen and (max-width: 768px) {
    .description{
        height: 100%;
    }
}