.app{
    height: 100vh;
}

.sections{
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #264653;
    top: 70px;
    scroll-behavior: smooth; 
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar{
    display: none;
    }

    > *{
        max-width: 100%;
        width: 100%;
        height: calc(100vh - 70px);
        scroll-snap-align: start;
    }
}


@media screen and (max-width: 768px) {
    .app{
        height: auto;
        overflow-y: auto;
    }

    .sections{
        >*{
            max-width: 100%;
            width: 100%;
            height: calc(100vh-70px);
        }
    }
}