.aboutme{
    background-color: #fefae0;

    .container{

        
        h1{
            text-align: center;
            font-size: xx-large;
        }

        .para1{
            font-size: 20px;
            text-align: center;
        }

        .para2{
            font-size: 20px;
            text-align: center;
        }

        .carasouel{
            background-color:#fefae0;
            width:"100%";
            height:"60vh";

            .innercarasouel{
                top:"2%";
                left:"20%";
                width:"60%";
                height:"60vh";
            }

            .carousel-1{
                text-align: center;
            }
            .content{
                text-align: center;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }   
}

@media screen and (max-width: 768px){
    .aboutme{
        .container{
            .carasouel{
                height: 60%;
                width: 100%;
                
            }
        }
    }
}