.aboutme{
    background-color: white;

    .container{

        
        h1{
            text-align: center;
            font-size: xx-large;
        }

        .para1{
            font-size: 20px;
            text-align: center;
        }

        .para2{
            font-size: 20px;
            text-align: center;
        }

        .carasouel{
            background-color:white;
            width:"100%";
            height:"60vh";

            .innercarasouel{
                top:"2%";
                left:"20%";
                width:"60%";
                height:"60vh";
                backgroundColor:"lightgrey";
            }

            .carousel-1{
                text-align: center;
            }
            .content{
                text-align: center;
            }
        }
    }   
}

@media screen and (max-width: 768px){
    .aboutme{
        .container{
            .carasouel{
                height: 60%;
                width: 100%;
                
            }
        }
    }
}